<!DOCTYPE html>
<html>
<head>
	<title>WebSockets</title>
</head>
<body>
	<h1>WebSocket</h1>
	<input id="move" type="text" autocomplete="off">
	<button onclick="sendMessage()">Send</button>
	<div id="moves-log"></div>

	<script>
		const movesLog = document.getElementById('moves-log');
		const move = document.getElementById('move');

		const wsScheme = window.location.protocol === 'https:' ? 'wss://' : 'ws://';
		const url = wsScheme + window.location.host + '/ws/play/' + '{{ gameID }}' + '/' + '{{ token }}' + '/';

		const ws = new WebSocket(url);

		ws.onmessage = function(event) {
			const data = JSON.parse(event.data);
			movesLog.innerHTML += '<p>' + data.move + '<\p>';
		};
		
		function sendMessage() {
			const message = move.value;
			ws.send(JSON.stringify({type: 'move', move: message}));
			move.value = '';
		}
	</script>
</body>
</html>