<!DOCTYPE html>
<html>
<head>
	<title>WebSockets</title>
</head>
<body>
	<h1>WebSocket</h1>
	<input id="message-input" type="text" autocomplete="off">
	<button onclick="sendMessage()">Send</button>
	<div id="chat-log"></div>

	<script>
		const roomName = 'mychess';
		const chatLog = document.getElementById('chat-log');
		const messageInput = document.getElementById('message-input');

		const wsScheme = window.location.protocol === 'https:' ? 'wss://' : 'ws://';
		const url = wsScheme + window.location.host + '/ws/mychess/' + roomName + '/';
		console.log('url', url);

		const ws = new WebSocket(url);

		ws.onmessage = function(event) {
			const data = JSON.parse(event.data);
			chatLog.innerHTML += '<p>' + data.message + '<\p>';
		};
		
		function sendMessage() {
			const message = messageInput.value;
			ws.send(JSON.stringify({message: message}));
			messageInput.value = '';
		}
	</script>
</body>
</html>