<!DOCTYPE html>
<html>
<head>
	<title>WebSockets</title>
</head>
<body>
	<h1>WebSocket</h1>
	<input id="message" type="text" autocomplete="off">
	<button onclick="sendMessage()">Send</button>
	<div id="chat-log"></div>

	<script>
		const movesLog = document.getElementById('chat-log');
		const move = document.getElementById('message');

		const wsScheme = window.location.protocol === 'https:' ? 'wss://' : 'ws://';
		const url = wsScheme + window.location.host + '/ws/play/' + '{{ gameID }}' + '/?' + '{{ token_key }}';

		const ws = new WebSocket(url);

		ws.onmessage = function(event) {
			const data = JSON.parse(event.data);
			if (data && data.message) {
				movesLog.innerHTML += '<p>' + data.message + '</p>';
			}
		};
		
		function sendMessage() {
			const message = move.value;
			ws.send(JSON.stringify({type: 'move', message: message}));
			move.value = '';
		}
	</script>
</body>
</html>